@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 25, 25, 25;
  --background-start-rgb: 25, 25, 25;
  --background-end-rgb: 25, 25, 25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 25, 25, 25;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  padding: 0; /* Corrected padding value */
}

@layer utilities {
  .text-balance {
    /* The `text-wrap` property is not standard; if you need balance text, you might use:
       - text-align: justify;
       - text-align-last: justify; (for the last line)
    */
    text-align: justify; 
  }
}
